#videoContainer {
  clear: both;
  border: none;
  width: 90%;
  margin: 0 auto;
}

#videoPlayer {
  width: 50%;
  max-height: 300px;
}

#videoPlayerSlave {
  float: left;
  margin-left: 10px;
  max-height: 300px;
  display: none;
}

.hidden {
  display: none;
}

input.pointInput {
  width: 60px;
  border: 0px solid white;
}

#actions {
  margin: 0 auto;
  margin-top: 16px;
  text-align: center;
  width: 100%;
}

.rule {
  width: 115px;
  margin-right: 62%;
}

a.secondaryButton,a.secondaryButton:link,a.secondaryButton:visited {
  margin-right: 16px;
  cursor: pointer;
  color: #2d8f8b;
}

a.secondaryButton:hover,a.secondaryButton:focus {
  color: #2d8f8b;
  text-decoration: underline;
}

#metadata-container {
  margin-bottom: 8px;
}

#trackForm table {
  width: 90%;
  margin: 0 auto;
}

#trackError {
  color: red;
  margin: 0 auto;
}

.formField-list label {
  width: 30%;
  float: left;
  text-align: right;
  margin-right: 5px;
}

#splitter {
  background-color: lime;
  width: 250px;
  float: left;
}

#editor {
  height: 350px;
}

#boxes {
  padding-top: 20px;
  width: 100%;
  float: left;
}

#leftBox {
  float: left;
  border: 1px solid black;
  width: 400px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#rightBox {
  float: left;
  border: 1px solid black;
  margin-left: 10px;
  width: 350px;
}

#cancelButton {
  
}

#okButton {
  background-color: lime;
}

.playButton {
  width: 20px !important;
}

#rightBox input {
  width: 95px;
  margin-top: 10px;
}

#rightBox textarea {
  margin-bottom: 5px;
  width: 100%;
  height: 70px;
}

#descriptionDiv {
  margin: 10px;
}

#segmentsWaveform {
  height: 122px;
  width: 100%;
  float: left;
  margin-top: 5px;
  position: relative;
}

#currentTimeDiv {
  border-right: 1px solid green;
  width: 1px;
  height: 100%;
  position: absolute;
  /* Firefox */
  -moz-box-sizing: border-box;
  /* WebKit */
  -webkit-box-sizing: border-box;
  /* Opera 9.5+, Google Chrome */
  box-sizing: border-box;
  z-index: 3;
}

#imageDiv {
  width: 100%;
  position: absolute;
  z-index: 0;
}

#waveformImage {
  width: 100%;
}

#splitSegments {
  height: 100%;
  width: 100%;
  float: left;
  position: absolute;
  z-index: 1;
}

.splitSegmentItem {
  border-right: 1px solid #990000;
  float: left;
  height: 100%;
  /*background-color: white; */
  /* Firefox */
  -moz-box-sizing: border-box;
  /* WebKit */
  -webkit-box-sizing: border-box;
  /* Opera 9.5+, Google Chrome */
  box-sizing: border-box;
}

.splitSegmentItemSelected {
  border-right: 1px solid #990000;
  float: left;
  height: 100%;
  /*background-color: white; */
  /* Firefox */
  -moz-box-sizing: border-box;
  /* WebKit */
  -webkit-box-sizing: border-box;
  /* Opera 9.5+, Google Chrome */
  box-sizing: border-box;
  background-color: blue;
  opacity: 0.5;
  filter:alpha(opacity=50); /* For IE8 and earlier */
}

.hover {
  background-color: #C1CDCD;
}

.hoverOpacity {
  opacity: 0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

.splitSegmentDisabled {
  background-color: gray;
  opacity: 0.6 !important;
  filter:alpha(opacity=60) !important; /* For IE8 and earlier */
}

.box_right {
  text-align: right;
}

.splitNumber {
  background-color: lime;
  width: 20px;
  height: 20px;
  text-align: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.splitText {
  margin-left: 10px;
  float: left;
  width: 315px;
}

.splitRemover {
  float: right;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  width: 20px;
  height: 20px;
}

.splitRemover input {
  width: 20px;
  height: 20px;
}

.splitItem {
  border: 1px solid black;
  height: 50px;
  margin: 1px;
  overflow: hidden;
  /* Firefox */
  -moz-box-sizing: border-box;
  /* WebKit */
  -webkit-box-sizing: border-box;
  /* Opera 9.5+, Google Chrome */
  box-sizing: border-box;
}

.splitItemSelected {
  border: 1px solid blue !important;
}

.disabled {
  opacity: 0.2;
  filter: alpha(opacity = 20); /* For IE8 and earlier */
}

.clipItem {
  border-color: black;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.frameButton {
  height: 22px;
  vertical-align: middle;
  opacity: 0.7;
  
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; 
}

.magnifyarea { /* CSS to add shadow to magnified image. Optional */
  box-shadow: 5px 5px 7px #818181;
  -webkit-box-shadow: 5px 5px 7px #818181;
  -moz-box-shadow: 5px 5px 7px #818181;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=5,
    offY=5, positive=true );
  background: white;
}